:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --marrom: #6C3F22;
    --azul-escuro: #294066;
    --verde-escuro: #286B21;
    --bege: #EBD0BE;
    --verde-claro: #82C07C;
}





* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.espaco_lateral {
    width: 80Vw;
    max-width: 1400px;
    margin: 0 auto
}

/* ---------menu----------- */

.titulo {
    display: flex;
    justify-content: center;
}

.nossas_receitas h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    max-width: 900px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 40px;
    color: black;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;

}

.espacamentoLateral p {
    font-size: 30px;
    text-align: justify;
    line-height: 40px;
}

.menu a:hover {
    text-decoration-color: (var(--marrom));
}


/* header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header img {
    width: 155;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--caramelo);
    text-transform: uppercase text none
}

.menu a:hover {
    color: var(--verde);

} */

/* ---------menu hamburguer----------- */
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}



/* -------------- nossas receitas ---------- */
/* -----------salgado--------- */

.titulo {
    display: flex;
    justify-content: center;
    color: var(--marrom);
}

.conteudo-sobre img {
    max-width: 280px;
    width: 50%;

}

#textosobre {
    align-items: center;
    margin-top: 30px;
    width: 450px;
    font-family: "Charter-regular";
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
}

.conteudo-sobre {
    margin-left: 920px;
}

#sobre {
    display: flex;
}

.texto_todo {
    margin-left: 270px;
    font-size: 25px;
    text-align: justify;
    margin-top: 130px;

}

#textosobre {
    font-size: 25px;
    text-align: center;
    margin-top: 65px;
    margin-left: 700px;
}

#sobre img {
    max-width: 460px;
    width: 45%;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* ------------ bolo ---------------*/
.titulo {
    display: flex;
    justify-content: center;
    color: var(--marrom);
}

.conteudo-sobre img {
    max-width: 280px;
    width: 50%;

}

#textosobre {
    align-items: center;
    margin-top: 30px;
    width: 450px;
    font-family: "Charter-regular";
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
}

.conteudo-sobre {
    margin-left: 920px;
}

#sobre {
    display: flex;
}

.texto_todo {
    margin-left: 270px;
    font-size: 25px;
    text-align: justify;
    margin-top: 130px;

}

#textosobre {
    font-size: 25px;
    text-align: center;
    margin-top: 65px;
    margin-left: 700px;
}

#sobre img {
    max-width: 460px;
    width: 45%;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* -------------paes------------- */

.titulo {
    display: flex;
    justify-content: center;
    color: var(--marrom);
}

.conteudo-sobre img {
    max-width: 280px;
    width: 50%;

}

#textosobre {
    align-items: center;
    margin-top: 30px;
    width: 450px;
    font-family: "Charter-regular";
    font-size: 20px;
    margin-top: 0;
    text-align: justify;
}

.conteudo-sobre {
    margin-left: 920px;
}

#sobre {
    display: flex;
}

.texto_todo {
    margin-left: 270px;
    font-size: 25px;
    text-align: justify;
    margin-top: 130px;

}

#textosobre {
    font-size: 25px;
    text-align: center;
    margin-top: 65px;
    margin-left: 700px;
}

#sobre img {
    max-width: 460px;
    width: 45%;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* ---------contato----------- */






#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-top: 100px;
}

#contato .titulo {
    justify-content: center;
    margin-bottom: 55px;
}

#contato h2 {
    margin-left: 5px;
}

#contato form {
    max-width: 980px;
    width: 90%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 3px var(--preto);
    border-radius: 40px;
    background-color: var(--bege);

    color: var(--preto);
    font-family: "Recursive", sans-linear;
    font-size: 17px;
}

.campo {
    width: 60%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: var(--preto);
    background-color: var(--bege);

    border: none;
    border-radius: 4px;

    text-indent: 10px;
    outline: none;
}

.campo-descricao textarea {
    color: var(--preto);
    background-color: var(--preto);

    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px;

    resize: none;
}

.campo label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "Recursive", sans-linear;
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #000000;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--preto);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: var(--preto);
    color: var(--branco);

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Recursive", sans-linear-bold;
    font-weight: 700;

    text-transform: uppercase;
    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: var(--preto);
}

/* ---------- Footer ------------- */

footer {
    height: 650px;
    background-color: var(--marrom);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    height: 300px;


}

footer img {
    height: 140px;
    margin-left: 80px;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais p,
.localizacao p {
    color: var(--branco);

    font-family: "Charter-regular";
    font-size: 20px;
    margin-top: 30px;
    margin-right: 55px;
}

.icones-redes{
    display: flex;
}

.icones-redes svg {
    width: 40px;

    display: flex;
    justify-content: space-between;
    height: 55px;
    float: right;
    margin: 10px;
    margin-right: 50px;
}

.icones-redes a {
    color: var(--branco);
}

.icones-redes a:hover {
    color: var(--preto);
}

.container-grid-roda-pe {
    display: flex;
}

.p {
    justify-content: center;
    align-items: center;
}

.nossasReceitas {
    display: flex;
    align-items: center;
    margin-left: 650px;
    margin-top: 50px;
    font-size: 30px;
    color: #6C3F22;
}

.textoSobre {
    text-align: start;
    width: 500px;
    align-items: center;
    margin-left: 500px;
}

.localizacao{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    #sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--cafe);
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }
}